# OS Created Files

.DS_Store*
ehthumbs.db
Icon?
Thumbs.db

# IDE Files
.metadata/*
.settings/*
.project
.buildpath
.ExternalToolBuilders
.idea
.classpath
.settings
.vscode
.factorypath

# Local files
target
*.diff
